@import '../../modules/mixin/modal.scss';
.patchPassword{
    width: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 100px 100px 100px 100px 50px;
    justify-content: center;
    align-items: center;
    .mainText{
        font-weight: 700;
        font-size: 35px;
        margin: auto;
    }
    .id, .password, .confirmPassword{
        display: grid;
        grid-template-rows: 20px, 80px 20px;
        align-items: end;
        div{
            margin-left: 10px;
            font-weight: 600;
        }
        input[type="text"], input[type="password"]{
            margin:auto;
            width: 90%;
            height: 56px;
            border: solid 1px  #CACACA;
            background-color: transparent;
            border-radius: 6px;
            margin-top: 10px;
        }
    }
    .alert{
        color: #D85050;
        font-size: 14px;
        font-weight: 400;
        margin-left: 30px;
        align-self: flex-start;
    }
    .button{
        @include button();
    }
}
.patchPasswordConfirm{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 175px 100px 125px;
    margin-top: 30px;
    .logo{
        height: 100%;
        line-height: 100px;
        text-align: center;
        img{
            vertical-align: bottom;
            top: auto;
            height: 100%;
            width: 125px;
            object-fit: contain;
        }
    }
    .mainText{
        font-weight: 700;
        font-size: 35px;
        margin: auto;
        text-align: center;
    }
    .subText{
        text-align: center;
            font-size: 22px;
            line-height: 30px;
            font-weight: 500;
            color: #6F6D6D;
    }
    .button{
        @include button();
    }
}
