body{
    width: 900px;
    margin: auto;
}

header{
    height: 100px;
    width: 100%;
    #title{
        display: inline;
        width: 50%;
        cursor: pointer;
    }
    #myLink{
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(1, auto);
        float: right;
        div{
            text-align: center;
            width: auto;
            cursor: pointer;
            border: 1px solid black;
        }
    }
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}
