.paginationBlock{
    display: grid;
    grid-template-columns: repeat(auto-fit, 13px);
    align-items: flex-end;
    justify-content: center;
    height: 40px;
    .pageButton{
        height: 40px;
        width: 13px;
        display: grid;
        align-items: flex-end;
        justify-content: center;
        cursor: pointer;
        &Checked{
            height: 20px;
            width: 13px;
            display: grid;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #74603B;
        }
    }
}