#main{
    .reviewList{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        justify-content: space-between;
        margin-top: 20px;
        .review{
            flex: 0 0 auto;
            height: 240px;
            width: 200px;
            margin-left: 50px;
            margin-right: 50px;
            border: 1px black solid
        }
    }

}