#main{
    width: 900px;
    margin: auto;
    ::-webkit-scrollbar{
        height: 10px;
        background-color: white;
        border: black 1px solid;
    }
    ::-webkit-scrollbar-thumb{
        background-color: black;
    }
    .reviewList{
        display: flex;
        overflow-x: scroll;
        justify-content: space-between;
        
        .review{
            flex: 0 0 auto;
            height: 240px;
            width: 200px;
            margin-left: 50px;
            margin-right: 50px;
            border: 1px black solid
        }
    }

}