@import './mixin.scss';
@import '../../modules/mixin/modal.scss';

.findPassword{
    form{
        @include grid(100px, 3);
        .findPasswordTitle{
            text-align: center;
            font-size: 43px;
            color: #000000;
            font-weight: 700;
            .findPasswordSubtitle{
                text-align: center;
                font-size: 19px;
                font-weight: 500;
                color:#6C6C6C;
            }
        }
        .emailBlock{
            @include block();
        }
        .submitBlock{
            @include submitBlock();
        }
    }
}
.findPasswordModal{
    @include modal();
    .modalBlock{
        display: grid;
        grid-template-rows: 50px 150px 250px;
        grid-template-columns: 100%;
        justify-content: center;
        padding: 20px;
        .exitButtonBlock{
            div{
                color: #6E6D6D;
                font-size: 30px;
                margin-left: auto;
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
            }
        }
        .mainText{
            text-align: center;
            font-size: 35px;
            font-weight: 700;
            line-height: 50px;
            color: #101010;
        }
        .subText{
            text-align: center;
            font-size: 22px;
            line-height: 30px;
            font-weight: 500;
            color: #6F6D6D;
        }
    }
    .backToLogin{
        position: absolute;
        width: 100%;
        height: 80px;
        bottom: 0;
        background-color: #74603B;
        border: 1px solid #655332;
        border-radius: 0 0 14px 14px;
        cursor: pointer;
        display: grid;
        align-items: center;
        div{
            font-weight: 400;
            font-size: 27px;
            color: #FFFFFF;
            text-align: center;
        }

    }
}