<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>커뮤니티 정보 변경</title>
</head>
<body>
    <div id="main" communityID="{{communityID}}"></div>
    <script src="/js/communityEdit.js"></script>
</body>
</html>