<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myCommunity</title>
</head>
<body>
    <div id="main"></div>
    <script src="/js/communityRegister.js"></script>
</body>
</html>