<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myCommunity</title>
</head>
<body>
    <div id="main" communityID="{{communityID}}" userCommunityID="{{userCommunityID}}"></div>
    <script src="/js/communityInfo.js"></script>
</body>
</html>