<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirmRegister</title>
</head>
<body>
    <div id="main" userID="{{userID}}">

    </div>
    <script src="/js/confirmRegister.js"></script>
</body>
</html>