<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>passwordEdit</title>
</head>
<body>
    <div id="main" userID = {{userID}} token = {{token}}></div>
    <script src="/js/passwordEdit.js"></script>
</body>
</html>