<div style="
    height: 476px;
    width: 452px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0px 150px 150px 100px;
    justify-content: center;
    align-items: center;
    z-index: 3">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Noto+Sans');
        *{
            font-family: 'Noto Sans';
        }
    </style>
    <img src="cid:mailPage"style="margin-top: 100%">
    <div>
        <div style="
        font-size: 43px;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF;">
            The Reader
        </div>
        <div style="
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: #FFFFFF">
            Today's reader Tommorow's leader
        </div>
    </div>
    <div style="
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;">
        안녕하세요 {{userName}}님,<br/>
        비밀번호를 변경하시려면 아래 버튼을 클릭하세요.
    </div>
    <div style="
    display: grid;
    justify-content: center;
    align-items: center;">
        <a style="
        height: 39px;
        width: 131px;
        background-color: #74603B;
        line-height: 39px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 12px;
        font-weight: 400;
        box-shadow: 0, 1px, 5px, rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        text-decoration: 0;
        " href="{{url}}">
            비밀번호 변경
        </a>
    </div>  
</div>